[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
psycopg2-binary = "*"
streamlit-authenticator = "*"

[dev-packages]
streamlit = "*"
psycopg2-binary = "*"
streamlit-authenticator = "*"

[requires]
python_version = "3.9"
